name: test

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        ENGINE_VERSION: [5.3.0, 5.4.0, 5.5.0, 5.6.0, 5.7.0, latest]

    steps:
    - uses: actions/checkout@v3
    - name: test
      run: |
        docker-compose up -d postgres
        sleep 5
        docker-compose up -d bx
        docker-compose up --exit-code-from sut
        docker-compose down -v
